
@{
    ViewData["Title"] = "Verification";
}

<div class="row">
    <div class="col-md-9">
        <div class="panel panel-info ">
            <div class="panel-heading "><h4>Business Registration</h4></div>
            <div class="panel-body">
                <p>
                    <b>Business Registration Failed</b>
                </p>
                <p>
                    Dear User, A similar email has been used for registration of a different Spa
                </p>
            </div>
        </div>
    </div>
</div>
