@model Spa_Management.Models.tbErrorLogs

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>tbErrorLogs</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="sessionId" class="control-label"></label>
                <input asp-for="sessionId" class="form-control" />
                <span asp-validation-for="sessionId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="action" class="control-label"></label>
                <input asp-for="action" class="form-control" />
                <span asp-validation-for="action" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="json" class="control-label"></label>
                <input asp-for="json" class="form-control" />
                <span asp-validation-for="json" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OpDate" class="control-label"></label>
                <input asp-for="OpDate" class="form-control" />
                <span asp-validation-for="OpDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="errorMessage" class="control-label"></label>
                <input asp-for="errorMessage" class="form-control" />
                <span asp-validation-for="errorMessage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="innerExemption" class="control-label"></label>
                <input asp-for="innerExemption" class="form-control" />
                <span asp-validation-for="innerExemption" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="modelValidation" class="control-label"></label>
                <input asp-for="modelValidation" class="form-control" />
                <span asp-validation-for="modelValidation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="attStatus" class="control-label"></label>
                <input asp-for="attStatus" class="form-control" />
                <span asp-validation-for="attStatus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

