
@{
    ViewData["Title"] = "emailConfirm";
}

<div class="row">
    <div class="col-md-9">
        <div class="panel panel-info ">
            <div class="panel-heading "><h4>Email Confirmation</h4></div>
            <div class="panel-body">
                <p>
                    <b>Registration Successful</b>
                </p>
                <p>
                    
                    An email has been sent to the email provided. Please confirm it to proceed to login;
                    Regards 
                </p>
</div>
            </div>
        </div>
    </div>
