
@{
    ViewData["Title"] = "Registration";
}

<div class="row">
    <div class="col-md-9">
        <div class="panel panel-info ">
            <div class="panel-heading "><h4>Registration Unsuccessful</h4></div>
            <div class="panel-body">
                <p>
                    <b>Invalid Details</b>
                </p>
                <p>
                    An email has been sent to the email provided. Please confirm your registration details.
                    Regards
                </p>
            </div>
        </div>
    </div>
</div>
