
@{
    ViewData["Title"] = "FaQs";
}
    <div class="container">
        <h1>Frequently Asked Questions</h1>
        <div class="form-group" id="filter-form">
            <label for="filter">
                Search for a Question
            </label>
            <input id="filter" type="text" class="form-control noEnterSubmit" placeholder="Enter a keyword or phrase" />
            <small>
                <span id="filter-help-block" class="help-block">
                    No filter applied.
                </span>
            </small>
        </div>

        <!-- Bootstrap collapsible panels -->
        <div class="panel-group searchable" id="accordion" role="tablist" aria-multiselectable="true">
            <div class="panel panel-primary">
                <div class="panel-heading" role="tab" id="headingOne">
                    <h4 class="panel-title">
                        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                            How do I apply for a Bid bond online on TradePawa platform ?
                        </a>
                    </h4>
                </div>
                <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                    <div class="panel-body">
                        <p>
                            a) By Visiting https://www.tradepawa.com
                        </p>
                        <p>
                            b) Upon approval/Reject, you will also be notified by email or phone messages
                        </p>
                        <p>
                            c) For new Companies, you first need to register your company by clicking the company signup menu
                        </p>
                    </div>
                </div>
            </div>
            <div class="panel panel-success">
                <div class="panel-heading" role="tab" id="headingTwo">
                    <h4 class="panel-title">
                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            How will I know that an online bid bond document is genuine ?
                        </a>
                    </h4>
                </div>
                <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                    <div class="panel-body">
                        The System Generated BidBond has Security features appended on it that includes a Unique WaterMark and a barcode key that is scanned by Procuring entities for authentication
                    </div>
                </div>
            </div>
            <div class="panel panel-danger">
                <div class="panel-heading" role="tab" id="headingThree">
                    <h4 class="panel-title">
                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                            How do I register a new customer in the tradepawa platform?
                        </a>
                    </h4>
                </div>
                <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                    <div class="panel-body">
                        <p>
                            a) Access TradePawa online Via https://www.tradepawa.com  then click company signup for a new company registration
                        </p>
                        <p>
                            b) Await for the details to be verified before full onboarding.
                        </p>
                    </div>
                </div>
            </div>
            <div class="panel panel-warning">
                <div class="panel-heading" role="tab" id="headingFour">
                    <h4 class="panel-title">
                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                            What are the benefits of applying for a bid bond through TradePawa ?
                        </a>
                    </h4>
                </div>
                <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
                    <div class="panel-body">
                        <p>a) With TradePawa, you will benefit from a finely-tuned technology stack that drives the highest levels of site performance, speed and engagement in every step of bid bond application</p>
                        <p>b) Quick Turn Around Times in processing</p>
                        <p>c) Ease of access,both accessible via mobile and mobile phones</p>
                        <p>d) Generate and print bid bonds at home/ office comfort</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-info">
            <div class="panel-heading" role="tab" id="_headingFour">
                <h4 class="panel-title">
                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#_collapseFour" aria-expanded="false" aria-controls="_collapseFour">
                        How do I make a new application ?
                    </a>
                </h4>
            </div>
            <div id="_collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="_headingFour">
                <div class="panel-body">
                    <p>In order to make a new application, go to Applications Menu, click make new application, fill in details and click 'Save' for submission</p>
                </div>
            </div>
        </div>
        <div class="panel panel-success">
            <div class="panel-heading" role="tab" id="headingTwo_">
                <h4 class="panel-title">
                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo_" aria-expanded="false" aria-controls="collapseTwo_">
                        How is the bid bond generated ?
                    </a>
                </h4>
            </div>
            <div id="collapseTwo_" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo_">
                <div class="panel-body">
                    <p>
                        Upon full processing at the bank side, on the application details click 'Download Bid Bond',Please note that this option is only available if you selected print bond online option during your application.
                    </p>
                </div>
            </div>
        </div>
        <div class="panel panel-danger">
            <div class="panel-heading" role="tab" id="headingThree_">
                <h4 class="panel-title">
                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree_" aria-expanded="false" aria-controls="collapseThree_">
                        How will I know that my application for the Bid bond has been approved or rejected ?
                    </a>
                </h4>
            </div>
            <div id="collapseThree_" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree_">
                <div class="panel-body">
                    <p>
                        a) Aside from email and sms notifications sent to the user, there are user notification messages that help tracking of the various application processing stages.,Click notifications to check status of any given application
                    </p>
                    <p>
                        b) Upon approval/Reject, you will also be notified by email or phone messages
                    </p>
                </div>
            </div>
        </div>
        <div class="panel panel-warning">
            <div class="panel-heading" role="tab" id="headingFour_">
                <h4 class="panel-title">
                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour_" aria-expanded="false" aria-controls="collapseFour_">
                        How much does BidBond application cost ?
                    </a>
                </h4>
            </div>
            <div id="collapseFour_" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour_">
                <div class="panel-body">
                    <p>Pricing for BidBond Processing is based on the bond value being processed</p>
                </div>
            </div>
        </div>
        <div class="panel panel-info">
            <div class="panel-heading" role="tab" id="headingSix">
                <h4 class="panel-title">
                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                        What happens when my bid bond application is not approved? Do I get back my money ?
                    </a>
                </h4>
            </div>
            <div id="collapseSix" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSix">
                <div class="panel-body">
                    <p>There is a refund policy that is meant to resolve such disputes</p>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="heading7">
                <h4 class="panel-title">
                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse7" aria-expanded="false" aria-controls="collapse7">
                        Is it possible to track my online bid-bond applications as I wait for approval ?
                    </a>
                </h4>
            </div>
            <div id="collapse7" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading7">
                <div class="panel-body">
                    <p>Yes TradePawa allows for appicants to view their applications from the applications dashboard</p>
                </div>
            </div>
        </div>
        <div class="panel panel-danger">
            <div class="panel-heading" role="tab" id="heading8">
                <h4 class="panel-title">
                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse8" aria-expanded="false" aria-controls="collapse8">
                        Is it possible to amend or cancel an application once I have submitted ?
                    </a>
                </h4>
            </div>
            <div id="collapse8" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading8">
                <div class="panel-body">
                    <p>
                        Yes TradePawa allows for applicants to cancel applications before they initiate full payments. Upon full payment, you can not cancel an application but you are allowed to put an ammendment request.
                    </p>
                </div>
            </div>
        </div>
        <div class="panel panel-success">
            <div class="panel-heading" role="tab" id="headingTwo9">
                <h4 class="panel-title">
                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo9" aria-expanded="false" aria-controls="collapseTwo9">
                        How do I make a payment for the online bid bond and what are the payment options available ?
                    </a>
                </h4>
            </div>
            <div id="collapseTwo9" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo9">
                <div class="panel-body">
                    <p>
                        Once a full application has been done,You proceed to checkout where we avail the payment options below
                    <p>
                    <p>
                       a) Visa/MasterCard
                    </p>
                    <p>
                      b)  Mpesa
                    </p>
                    <p>
                      c)  Airtel Money
                    </p>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingTwo4">
                <h4 class="panel-title">
                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo4" aria-expanded="false" aria-controls="collapseTwo4">
                        What is the uptime for TradePawa?
                    </a>
                </h4>
            </div>
            <div id="collapseTwo4" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo4">
                <div class="panel-body">
                    <p>Using Azure Cloud technology which is an industry leader for reliability you will be able to experience an uptime in the vicinity of 99.95%</p>
                </div>
            </div>
        </div>
        <div class="panel panel-info">
            <div class="panel-heading" role="tab" id="headingTwo2">
                <h4 class="panel-title">
                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo2" aria-expanded="false" aria-controls="collapseTwo2">
                        Will TradePawa scale with my website ?
                    </a>
                </h4>
            </div>
            <div id="collapseTwo2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo2">
                <div class="panel-body">
                    <p>Yes, since TradePawa is entirely cloud based, new servers can easily be added or upgraded to increased memory to handle your growing market digital demands.</p>
                </div>
            </div>
        </div>
    </div>
   
