
@{
    ViewData["Title"] = "Privacy";
}


<div class="row">
    <div class="col-md-9">
        <div class="panel panel-info ">
            <div class="panel-heading "><h4>Privacy Policy</h4></div>
            <div class="panel-body">
                <p>
                    <b>Last Revised 05/06/2020</b>
                </p>
                <p>
                    TradePawa cares about your privacy. For this reason, we collect and use personal information only as needed to deliver our products, services, websites and mobile applications, and to communicate with you about the same, or as you have requested (collectively, our “Services”). Your personal information includes information such as:
                <p>
                    Name
                </p>
                <p>
                    Address
                </p>
                <p>
                    Telephone number
                </p>
                <p>
                    Date of birth
                </p>
                <p>
                    Email address
                </p>
                <p>
                    Billing and payment information
                </p>
                <p>
                    Other data collected that could directly or indirectly identify you.
                </p>
                <p>
                    Our Privacy Policy not only explains how and why we use your personal information that we collect, but also how you can access, update or otherwise take control of your personal information. We’ve also created a Trust Center that offers answers to your most common questions, quick links to access your Account Settings, instructions on how to exercise certain rights that might be available to you, and definitions to key terms and concepts noted in this Privacy Policy.

                </p>
                <p>
                    If at any time you have questions about our practices or any of your rights described below, you may reach our Data Protection Officer (“DPO”) and our dedicated team that supports this office by contacting us at info@fintech-group.com. This inbox is actively monitored and managed so that we can deliver an experience that you can confidently trust.
            </div>
            <div class="panel-body">
                <p>
                    <b>What information we collect, how we collect it, and why</b>
                </p>
                <p>
                    Much of what you likely consider personal information is collected directly from you when you:
                </p>
                Fill new company registration details
                <p>
                    Request assistance from our award-winning customer support team (ex: phone number);
                </p>
                <p>
                    complete contact forms or request newsletters or other information from us (ex: email); or
                </p>
                <p>
                    participate in contests and surveys, apply for a job, or otherwise participate in activities we promote that might require information about you.
                </p>
                <p>
                    However, we also collect additional information when delivering our Services to you to ensure necessary and optimal performance. These methods of collection may not be as obvious to you, so we thought we’d highlight and explain a bit more about what these might be (as they vary from time to time):

                </p>
                <p>
                    Cookies and similar technologies on our websites and our mobile applications allow us to track your browsing behavior, links clicked, items purchased, your device type, and to collect various data, including analytics, about how you use and interact with our Services. These technologies automatically collect data when you use and interact with our Services, including metadata, log files, cookie/device IDs, page load time, server response time, and approximate location information to measure website performance and improve our systems, including optimizing DNS resolution, network routing and server configurations. Specifically, interactions with the features, content and links (including those of third-parties, such as social media plugins) contained within the Services, Internet Protocol (IP) address, browser type and settings, the date and time the Services were used, information about browser configuration and plugins, language preferences and cookie data, information about devices accessing the Services, including type of device, what operating system is used, device settings, application IDs, unique device identifiers and error data is collected. All this allows us to provide you with more relevant product offerings, a better experience on our sites and mobile applications, and to collect, analyze and improve the performance of our Services. We may also collect your location (IP address) so that we can personalize our Services. For additional information, and to learn how to manage the technologies we utilize, please visit our Cookie Policy. If you wish to opt out of interest-based advertising click here [or if located in the European Union click here]. Please note you will continue to receive generic ads.

                </p>
                <p>
                    Supplemented Data may be received about you from other sources, including publicly available databases or third parties from whom we have purchased data, in which case we may combine this data with information we already have about you so that we can update, expand and analyze the accuracy of our records, assess the qualifications of a candidate for employment, identify new customers, and provide products and services that may be of interest to you. If you provide us personal information about others, or if others give us your information, we will only use that information for the specific reason for which it was provided to us.

                </p>
            </div>
            <div class="panel-body">
                <p>
                    <b>How we utilize information.</b>
                </p>
                <p>
                    Delivering, improving, updating and enhancing our Services.
                </p>
                <p>
                    Communicating with you..
                </p>
                <p>
                    Compliance with legal, regulatory and law enforcement requests.
                </p>
               
            </div>
            <div class="panel-body">
                <p>
                    <b>How we secure, store and retain your data.</b>
                </p>
                <p>
                <p>
                    We follow generally accepted standards to store and protect the personal information we collect, both during transmission and once received and stored, including utilization of encryption where appropriate.

                </p>
                <p>
                    We retain personal information only for as long as necessary to provide the Services you have requested and thereafter for a variety of legitimate legal or business purposes. These might include retention periods:

                </p>
               
                
                mandated by law, contract or similar obligations applicable to our business operations;
                for preserving, resolving, defending or enforcing our legal/contractual rights; or
                needed to maintain adequate and accurate business and financial records.

                </p>
            </div>
        </div>
    </div>
</div>

