
@using Microsoft.AspNetCore.Identity
@using Spa_Management.Models
@using static Spa_Management.Models.tbFeedBacks
@using static Spa_Management.Models.SpaDetails
@using static Spa_Management.Models.SpaUsers

@using System.Collections.Generic
@using System.Linq
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Http.Authentication

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@model LoginViewModel
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>SpaIntl - Company Sign Up</title>
    <!-- Bootstrap core CSS -->
    <link href="~/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!--Custom fonts for this template -->
    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>
    <!-- Custom styles for this template -->
    <link href="~/css/agency.min.css" rel="stylesheet">
    <style>

        #CompanyModal {
            /*max-width:800px;*/
        }

        footer {
            position: relative;
            bottom: 0;
            background: #022a5b;
            width: 100%;
        }

        .copyright {
            color: #fff;
        }

        div.roww-100 {
            width: 100%;
        }

        #content {
            margin-top: 10%;
        }

        @@media only screen and (max-width: 999px) {
            div#content {
                margin-top: 20%;
            }
        }
    </style>
</head>
<body id="page-top">
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav" style="background-color:#022a5b;">
        <div class="container">
            <a class="navbar-brand js-scroll-trigger" href="/">TradePawa</a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                Menu
                <i class="fas fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav text-uppercase ml-auto">
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="/">Home</a>
                    </li>
                    @if (SignInManager.IsSignedIn(User))
                    {
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Manage" asp-action="Index" title="Manage">@UserManager.GetUserName(User)</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Mer" asp-action="Index" title="Manage">DashBoard</a>
                        </li>
                        <li class="nav-item">
                            <form asp-controller="Account" asp-action="Logout" method="post" id="logoutForm" class="navbar-right">
                                <button type="submit" class="btn btn-link navbar-btn navbar-link">Log out</button>
                            </form>
                        </li>
                    }
                    else
                    {
                        <li class="nav-item active"><a class="nav-link active" href="#CompanyModal">Spa Registration</a></li>
                    }
                </ul>
            </div>
        </div>
    </nav>
    <div class="w-100" id="content" style="margin-bottom:20px;">
        <div class="row w-100">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <form asp-action="CompanySignUp" asp-controller="Companies" method="post">
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="container">

                        <div class="card">
                            <div class="card-header" style="background:#022a5b;">
                                <h6 style="text-align:center;color:#fff;">Spa Business Details</h6>
                            </div>
                            <div class="card-body">
                                <div class="row">

                                    <div class="form-group col-md-6">
                                        <div class="row">
                                            <div class="col-md-4"><label asp-for="tbSpaDetails.spaName" class="control-label "></label>&nbsp;<span style="color:red;">*</span></div>
                                            <div class="col-md-8">
                                                <input asp-for="tbSpaDetails.spaName" class="form-control form-control-sm" required="" />
                                                <span asp-validation-for="tbSpaDetails.spaName" class="text-danger"></span>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group col-md-6">
                                        <div class="row">
                                            <div class="col-md-4"><label asp-for="tbSpaDetails.PinNo" class="control-label "></label>&nbsp;<span style="color:red;">*</span></div>
                                            <div class="col-md-8">
                                                <input asp-for="tbSpaDetails.PinNo" class="form-control form-control-sm" required="" />
                                                <span asp-validation-for="tbSpaDetails.PinNo" class="text-danger"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="form-group col-md-6">
                                        <div class="row">
                                            <div class="col-md-4"><label asp-for="tbSpaDetails.RegCertNo" class="control-label "></label>&nbsp;<span style="color:red;">*</span></div>
                                            <div class="col-md-8">
                                                <input asp-for="tbSpaDetails.RegCertNo" class="form-control form-control-sm" placeholder="Business Incorporation Cert No." required="" />
                                                <span asp-validation-for="tbSpaDetails.RegCertNo" class="text-danger"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group col-md-6">
                                        <div class="row">
                                            <div class="col-md-4"><label asp-for="tbSpaDetails.contact" class="control-label "></label>&nbsp;<span style="color:red;">*</span></div>
                                            <div class="col-md-8">
                                                <input asp-for="tbSpaDetails.contact" class="form-control form-control-sm" required="" />
                                                <span asp-validation-for="tbSpaDetails.contact" class="text-danger"></span>
                                            </div>
                                        </div>
                                    </div>

                                </div>

                                <div class="row">
                                    <div class="form-group col-md-6">
                                        <div class="row">
                                            <div class="col-md-4"><label asp-for="tbSpaDetails.pysicalLoc" class="control-label "></label>&nbsp;<span style="color:red;">*</span></div>
                                            <div class="col-md-8">
                                                <input asp-for="tbSpaDetails.pysicalLoc" class="form-control form-control-sm" required="" />
                                                <span asp-validation-for="tbSpaDetails.pysicalLoc" class="text-danger"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group col-md-6">
                                        <div class="row">
                                            <div class="col-md-4"><label asp-for="tbSpaDetails.postalAddress" class="control-label "></label>&nbsp;<span style="color:red;">*</span></div>
                                            <div class="col-md-8">
                                                <span asp-validation-for="tbSpaDetails.postalAddress" class="text-danger"></span>

                                                <input class="form-control" value="@ViewBag.postalAddress" id="postalAddress" placeholder="Postal address" readonly />
                                            </div>
                                        </div>
                                    </div>

                                </div>

                                <div class="row">

                                    <div class="form-group col-md-6">
                                        <div class="row">
                                            <div class="col-md-4"><label asp-for="tbSpaDetails.PostalCode" class="control-label "></label>&nbsp;<span style="color:red;">*</span></div>
                                            <div class="col-md-8">
                                                <select asp-for="tbSpaDetails.PostalCode" class="form-control form-control-sm" asp-items="ViewBag.PostalCode">
                                                    <option>Please Select Postal Code</option>
                                                </select>
                                                <span asp-validation-for="tbCompanies.PostalCode" class="text-danger"></span>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>

                        <div class="card">
                            <div class="card-header" style="background:#022a5b;">
                                <h6 style="text-align:center;color:#fff;">Applicant Details</h6>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="form-group col-md-6">
                                        <div class="row">
                                            <div class="col-md-4"><label asp-for="tbSpaUsers.FirstName" class="control-label "></label>&nbsp;<span style="color:red;">*</span></div>
                                            <div class="col-md-8">
                                                <input asp-for="tbSpaUsers.FirstName" class="form-control form-control-sm" required="" />
                                                <span asp-validation-for="tbSpaUsers.FirstName" class="text-danger"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group col-md-6">
                                        <div class="row">
                                            <div class="col-md-4"><label asp-for="tbSpaUsers.LastName" class="control-label "></label>&nbsp;<span style="color:red;">*</span></div>
                                            <div class="col-md-8">
                                                <input asp-for="tbSpaUsers.LastName" class="form-control form-control-sm" required="" />
                                                <span asp-validation-for="tbSpaUsers.LastName" class="text-danger"></span>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <div class="row">
                                    <div class="form-group col-md-6">
                                        <div class="row">
                                            <div class="col-md-4"><label asp-for="tbSpaUsers.email" class="control-label "></label>&nbsp;<span style="color:red;">*</span></div>
                                            <div class="col-md-8">
                                                <input asp-for="tbSpaUsers.email" class="form-control form-control-sm" required="" />
                                                <span asp-validation-for="tbSpaUsers.email" class="text-danger"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group col-md-6">
                                        <div class="row">
                                            <div class="col-md-4"><label asp-for="tbSpaUsers.contact" class="control-label "></label>&nbsp;<span style="color:red;">*</span></div>
                                            <div class="col-md-8">
                                                <input asp-for="tbSpaUsers.contact" class="form-control form-control-sm" required="" />
                                                <span asp-validation-for="tbSpaUsers.contact" class="text-danger"></span>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <div class="row">
                                    <div class="form-group col-md-6">
                                        <div class="row">
                                            <div class="col-md-4"><label asp-for="tbSpaUsers.idNumber" class="control-label "></label>&nbsp;<span style="color:red;">*</span></div>
                                            <div class="col-md-8">
                                                <input asp-for="tbSpaUsers.idNumber" class="form-control form-control-sm" required="" required />
                                                <span asp-validation-for="tbSpaUsers.idNumber" class="text-danger"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group col-md-6">
                                        <div class="row">
                                            <div class="col-md-4"><label asp-for="tbSpaUsers.idType" class="control-label "></label>&nbsp;<span style="color:red;">*</span></div>
                                            <div class="col-md-8">
                                                <select asp-for="tbSpaUsers.idType" class="form-control form-control-sm" asp-items="ViewBag.idType" required>
                                                    <option disabled>Please Select ID Type</option>
                                                </select>
                                                <span asp-validation-for="tbSpaUsers.idType" class="text-danger"></span>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>

                        <div class="" style="margin-top:10px;">
                            <input type="submit" class="btn btn-block btn-primary pull-right" value="SIGN UP" />
                            <div class="pull-right" style="margin-top:10px;">By signing up, you agree to our <a href="home/Privacy" target="_blank">Policies</a> </div>
                        </div>
                    </div>

                </form>
            </div>
            <div class="col-md-2"></div>
        </div>
    </div>

    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <span class="copyright">Copyright &copy; Egerton_University - @DateTime.Now.Year</span>
                </div>
                <div class="col-md-4">
                    <ul class="list-inline social-buttons">
                    </ul>
                </div>
                <div class="col-md-4">
                    <ul class="list-inline quicklinks">
                        <li class="list-inline-item">
                            <a target="_blank" href="/home/Privacy">Privacy Policy</a>
                        </li>
                        <li class="list-inline-item">
                            <a href="/home/Terms" target="_blank">Terms of Use</a>
                        </li>
                        <li class="list-inline-item">
                            <a href="/home/FaQs" target="_blank">FAQS</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="~/vendor/jquery/jquery.min.js"></script>
    <script src="~/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- Plugin JavaScript -->
    <script src="~/vendor/jquery-easing/jquery.easing.min.js"></script>
    <!-- Contact form JavaScript -->
    <script src="~/js/jqBootstrapValidation.js"></script>
    <script src="~/js/contact_me.js"></script>
    <!-- Custom scripts for this template -->
    <script src="~/js/agency.min.js"></script>
    <script>
        $(function () {
            //alert('R');
            $('#tbCompanies_PostalCode').on('change', function (e) {
               // alert('R2');
                if ($(this).val() != 'Please Select Postal Code') {
                    $.ajax({
                        url: '/GetPostal/' + $(this).val(),
                        data: {'name':''},
                        method: 'get',
                        success: function (msg) {
                            $('#postalAddress').val(msg);
                        },
                        error: function (err) {
                            console.log(err);
                            $('#postalAddress').val('');
                        }
                    });
                } else {
                    $('#postalAddress').val('');
                }
            });
        });
    </script>
</body>
</html>