
@{
    ViewData["Title"] = "UnVerified";
    Layout = "~/Views/Shared/_Layout_old.cshtml";
}

<header>
    <h2 class="text-danger">@ViewData["Title"]</h2>
    <p class="text-danger">Access have been denied for this Account, please try again later.</p>
</header>

