@model Spa_Management.Models.tbBankUsers

@{
    ViewData["Title"] = "Create";
}

<section class="content">
    <div class="box">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12">
                <div class="panel panel-info ">
                    <div class="panel-heading "><h4>Add new Bank User for @ViewBag.BankName</h4></div>
                    <div class="panel-body">
                        <form asp-action="Create">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <input type="hidden" asp-for="SystemBanksGuid" />
                            <table class="table table-responsive table-striped table-hover">
                                <tr>
                                    <td>
                                        <div class="form-group">
                                            <label asp-for="SirName" class="control-label"></label>
                                            <input asp-for="SirName" class="form-control" />
                                            <span asp-validation-for="SirName" class="text-danger"></span>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form-group">
                                            <label asp-for="FirstName" class="control-label"></label>
                                            <input asp-for="FirstName" class="form-control" />
                                            <span asp-validation-for="FirstName" class="text-danger"></span>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="form-group">
                                            <label asp-for="LastName" class="control-label"></label>
                                            <input asp-for="LastName" class="form-control" />
                                            <span asp-validation-for="LastName" class="text-danger"></span>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form-group">
                                            <label asp-for="contact" class="control-label"></label>
                                            <input asp-for="contact" class="form-control" />
                                            <span asp-validation-for="contact" class="text-danger"></span>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="form-group">
                                            <label asp-for="email" class="control-label"></label>
                                            <input asp-for="email" class="form-control" />
                                            <span asp-validation-for="email" class="text-danger"></span>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form-group">
                                            <label asp-for="idNumber" class="control-label"></label>
                                            <input asp-for="idNumber" class="form-control" />
                                            <span asp-validation-for="idNumber" class="text-danger"></span>
                                        </div>
                                    </td>
                                </tr>
                            </table>





                            @*<div class="form-group">
                                    <label asp-for="gender" class="control-label"></label>
                                    <input asp-for="gender" class="form-control" />
                                    <span asp-validation-for="gender" class="text-danger"></span>
                                </div>*@
                            @*<div class="form-group">
                                    <label asp-for="dob" class="control-label"></label>
                                    <input asp-for="dob" class="form-control" />
                                    <span asp-validation-for="dob" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="idType" class="control-label"></label>
                                    <input asp-for="idType" class="form-control" />
                                    <span asp-validation-for="idType" class="text-danger"></span>
                                </div>*@

                            @*<div class="form-group">
                                    <label asp-for="status" class="control-label"></label>
                                    <input asp-for="status" class="form-control" />
                                    <span asp-validation-for="status" class="text-danger"></span>
                                </div>*@
                            <div class="form-group pull-right">
                                <input type="submit" value="Create" class="btn btn-default" />
                            </div>
                        </form>
                    </div>
                </div>

                <div>
                    <a asp-action="Index">Back to List</a>
                </div>
            </div>
        </div>
        </div>
</section>