@model Spa_Management.Models.CompanyDocs

@{
    ViewData["Title"] = "Create";
}

<h3>  Please Ensure you attach all the four documents in PDF Format</h3>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="SetupCompanyDocs" method="post" enctype="multipart/form-data" asp-controller="CompanyDocs">
            @*<div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CompanyId" class="control-label"></label>
                <input asp-for="CompanyId" class="form-control" />
                <span asp-validation-for="CompanyId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Status" class="control-label"></label>
                <input asp-for="Status" class="form-control" />
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <label asp-for="BoardResolution" class="control-label"></label>
                <input asp-for="BoardResolution" type="file" class="form-control" />
                <span asp-validation-for="BoardResolution" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PinCertificate" class="control-label"></label>
                <input asp-for="PinCertificate" type="file" class="form-control" />
                <span asp-validation-for="PinCertificate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RegistrationCertificate" class="control-label"></label>
                <input asp-for="RegistrationCertificate" type="file" class="form-control" />
                <span asp-validation-for="RegistrationCertificate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cr12" class="control-label"></label>
                <input asp-for="Cr12" type="file" class="form-control" />
                <span asp-validation-for="Cr12" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Submit Documents" class="btn btn-success" />

                <button class="btn btn-warning btn-default" name="btn" value="Index" type="submit">Back to List</button>
            </div>
            @*<div>
                <button class="btn btn-warning btn-default" name="btn" value="Index" type="submit">Back to List</button>
            </div>*@
        </form>
    </div>
</div>

