@model Spa_Management.Models.tbSMSLogs

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>tbSMSLogs</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="toPhone" class="control-label"></label>
                <input asp-for="toPhone" class="form-control" />
                <span asp-validation-for="toPhone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="message" class="control-label"></label>
                <input asp-for="message" class="form-control" />
                <span asp-validation-for="message" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="sentDate" class="control-label"></label>
                <input asp-for="sentDate" class="form-control" />
                <span asp-validation-for="sentDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="status" class="control-label"></label>
                <input asp-for="status" class="form-control" />
                <span asp-validation-for="status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

