@model Spa_Management.Models.SpaUsers

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>SpaUsers</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="spaUserGuid" />
            <div class="form-group">
                <label asp-for="spaGuid" class="control-label"></label>
                <select asp-for="spaGuid" class="form-control" asp-items="ViewBag.spaGuid"></select>
                <span asp-validation-for="spaGuid" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SirName" class="control-label"></label>
                <input asp-for="SirName" class="form-control" />
                <span asp-validation-for="SirName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FirstName" class="control-label"></label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MiddleName" class="control-label"></label>
                <input asp-for="MiddleName" class="form-control" />
                <span asp-validation-for="MiddleName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="control-label"></label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="contact" class="control-label"></label>
                <input asp-for="contact" class="form-control" />
                <span asp-validation-for="contact" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="email" class="control-label"></label>
                <input asp-for="email" class="form-control" />
                <span asp-validation-for="email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="dob" class="control-label"></label>
                <input asp-for="dob" class="form-control" />
                <span asp-validation-for="dob" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="idType" class="control-label"></label>
                <input asp-for="idType" class="form-control" />
                <span asp-validation-for="idType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="idNumber" class="control-label"></label>
                <input asp-for="idNumber" class="form-control" />
                <span asp-validation-for="idNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="status" class="control-label"></label>
                <input asp-for="status" class="form-control" />
                <span asp-validation-for="status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="regDate" class="control-label"></label>
                <input asp-for="regDate" class="form-control" />
                <span asp-validation-for="regDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="pysicalLoc" class="control-label"></label>
                <input asp-for="pysicalLoc" class="form-control" />
                <span asp-validation-for="pysicalLoc" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

