
@{
    ViewData["Title"] = "Terms";
}

<div class="row">
    <div class="col-md-9">
        <div class="panel panel-info ">
            <div class="panel-heading "><h4>Terms of Use</h4></div>
            <div class="panel-body">
                <p>
                    <b>Last Updated 05/06/2020</b>
                </p>
                <p>
                    <b>PLEASE READ THIS UNIVERSAL TERMS OF SERVICE AGREEMENT CAREFULLY, AS IT CONTAINS IMPORTANT INFORMATION REGARDING YOUR LEGAL RIGHTS AND REMEDIES</b>
                </p>
            </div>
            <div class="panel-body">
                <p>
                    <b>1. OVERVIEW</b>
                </p>
                <p>
                    This Universal Terms of Service Agreement (this “Agreement”) is entered into by and between fintech-goup.com, LLC limited liability company ("FintechKE") and you, and is made effective as of the date of your use of this website ("Site") or the date of electronic acceptance. This Agreement sets forth the general terms and conditions of your use of the Site and the products and services purchased or accessed through this Site (individually and collectively, the “Services”). Services Agreements and additional policies apply to certain Services and are in addition to (not in lieu of) this Agreement. In the event of a conflict between the provisions of a Services Agreement and the provisions of this Agreement, the provisions of the applicable Services Agreement shall control.
                </p>
                <p>
                    The terms “we”, “us” or “our” shall refer to TradePawa. The terms “you”, “your”, “User” or “customer” shall refer to any individual or entity who accepts this Agreement, has access to your account or uses the Services. Nothing in this Agreement shall be deemed to confer any third-party rights or benefits.
                </p>
            </div>
            <div class="panel-body">
                <p>
                    <b>2. MODIFICATION OF AGREEMENT, SITE OR SERVICES</b>
                </p>
                <p>
                    TradePawa may, in its sole and absolute discretion, change or modify this Agreement, and any policies or agreements which are incorporated herein, at any time, and such changes or modifications shall be effective immediately upon posting to this Site. Your use of this Site or the Services after such changes or modifications have been made shall constitute your acceptance of this Agreement as last revised. If you do not agree to be bound by this Agreement as last revised, do not use (or continue to use) this Site or the Services. In addition, TradePawa may occasionally notify you of changes or modifications to this Agreement by email. It is therefore very important that you keep your shopper account (“Account”) information current. TradePawa assumes no liability or responsibility for your failure to receive an email notification if such failure results from an inaccurate email address. In addition, TRADEPAWA may terminate Your use of Services for any violation or breach of any of the terms of this Agreement by You. TRADEPAWA RESERVES THE RIGHT TO MODIFY, CHANGE, OR DISCONTINUE ANY ASPECT OF THIS SITE OR THE SERVICES, INCLUDING WITHOUT LIMITATION PRICES AND FEES FOR THE SAME, AT ANY TIME
                </p>
            </div>
            <div class="panel-body">
                <p>
                    <b>3. ELIGIBILITY; AUTHORITY</b>
                </p>
                <p>
                    This Site and the Services are available only to individuals or entities (“Users”) who can form legally binding contracts under applicable law. By using this Site or the Services, you represent and warrant that you are (i) at least eighteen (18) years of age, (ii) otherwise recognized as being able to form legally binding contracts under applicable law, or (iii) are not a person barred from purchasing or receiving the Services found under the laws of the United States or other applicable jurisdiction.

                </p>
                <p>
                    If you are entering into this Agreement on behalf of a corporate entity, you represent and warrant that you have the legal authority to bind such corporate entity to the terms and conditions contained in this Agreement, in which case the terms "you", "your", "User" or "customer" shall refer to such corporate entity. If, after your electronic acceptance of this Agreement, TradePawa finds that you do not have the legal authority to bind such corporate entity, you will be personally responsible for the obligations contained in this Agreement, including, but not limited to, the payment obligations. TradePawa shall not be liable for any loss or damage resulting from TradePawa’s reliance on any instruction, notice, document or communication reasonably believed by TradePawa to be genuine and originating from an authorized representative of your corporate entity. If there is reasonable doubt about the authenticity of any such instruction, notice, document or communication, TradePawa reserves the right (but undertakes no duty) to require additional authentication from you. You further agree to be bound by the terms of this Agreement for transactions entered into by you, anyone acting as your agent and anyone who uses your account or the Services, whether or not authorized by you.

                </p>
            </div>
            <div class="panel-body">
                <p>
                    <b>4. YOUR ACCOUNT</b>
                </p>
                <p>
                    In order to access some of the features of this Site or use some of the Services, you will have to create an Account. You represent and warrant to TradePawa that all information you submit when you create your Account is accurate, current and complete, and that you will keep your Account information accurate, current and complete. If TradePawa has reason to believe that your Account information is untrue, inaccurate, out-of-date or incomplete, TradePawa reserves the right, in its sole and absolute discretion, to suspend or terminate your Account. You are solely responsible for the activity that occurs on your Account, whether authorized by you or not, and you must keep your Account information secure, including without limitation your customer number/login, password, Payment Method(s) (as defined below), and shopper PIN. For security purposes, TradePawa recommends that you change your password and shopper PIN at least once every six (6) months for each Account. You must notify TradePawa immediately of any breach of security or unauthorized use of your Account. TradePawa will not be liable for any loss you incur due to any unauthorized use of your Account. You, however, may be liable for any loss TradePawa or others incur caused by your Account, whether caused by you, or by an authorized person, or by an unauthorized person.
                </p>
            </div>
            <div class="panel-body">
                <p>
                    <b>5. GENERAL RULES OF CONDUCT</b>
                </p>
                <p>
                    You acknowledge and agree that:
                </p>
                <p>i. Your use of this Site and the Services , including any content you submit, will comply with this Agreement, any applicable Services Agreement or policy that may apply to your Services and all applicable local, state, national and international laws, rules and regulations</p>
                <p>ii.You will not collect or harvest (or permit anyone else to collect or harvest) any User Content (as defined below) or any non-public or personally identifiable information about another User or any other person or entity without their express prior written consent. </p>
                <p>iii. You agree to back-up all of your User Content so that you can access and use it when needed. TradePawa does not warrant that it backs-up any Account or User Content, and you agree to accept as a risk the loss of any and all of your User Content.</p>
                <p>iv. You will not re-sell or provide the Services for a commercial purpose, including any of TradePawa's related technologies, without TradePawa's express prior written consent</p>
                <p>v. You will not to circumvent, disable or otherwise interfere with the security-related features of this Site or the Services found at this Site (including without limitation those features that prevent or restrict use or copying of any TradePawa Content or User Content) or enforce limitations on the use of this Site or the Services found at this Site, the TradePawa Content or the User Content therein.</p>
                <p>vi. Without limiting any of the rights set forth elsewhere in this Agreement, TradePawa expressly reserves the right to deny, cancel, terminate, suspend, or limit future access to this Site or any Services (including but not limited to the right to cancel or transfer any domain name registration) to any User (i) whose Account or Services were previously terminated or suspended, whether due to breach of this or any other Agreement or any TradePawa policy, or (ii) who otherwise engages or has engaged in inappropriate or unlawful activity while utilizing the Site or Services (as determined by TradePawa in its sole and absolute discretion).</p>
                <p>vii. You will not copy or distribute in any medium any part of this Site or the Services , except where expressly authorized by TradePawa.</p>
                <p>viii. You will not modify or alter any part of this Site or the Services found at this Site or any of its related technologies.</p>
            </div>
        </div>
    </div>
</div>

