
@{
    ViewData["Title"] = "CompanyExists";
}

<div class="row">
    <div class="col-md-9">
        <div class="panel panel-info ">
            <div class="panel-heading "><h4>Company registration</h4></div>
            <div class="panel-body">
                <p>
                    <b>Registration Failed</b>
                </p>
                <p>
                    The Company details Provided already exists, Please retry again
                </p>
            </div>
        </div>
    </div>
</div>

