
@{
    ViewData["Title"] = "Verification";
}

<div class="row">
    <div class="col-md-9">
        <div class="panel panel-info ">
            <div class="panel-heading "><h4>Account Verification</h4></div>
            <div class="panel-body">
                <p>
                    <b>Registration Successful</b>
                </p>
                <p>
                    An email with your password will be sent to you once the Institution details have been confirmed.
                    Regards
                </p>
            </div>
        </div>
    </div>
</div>
